[Unit]
Description=ServerInColour Update Service
After=network.target
[Service]
User=root
Group=root
ExecStart=/usr/bin/bash /root/.serverincolour/update-service.sh
[Install]
WantedBy=multi-user.target
